<%= @score.name %> 
<% @scores.each do |score| %>
  <p>
   Points: <%= score.points %>
  <%# Points: <%= score.points1 %>
   <%#Points: <%= score.points2 %>
   <%#Points: <%= score.points3 %>
   <%#Points: <%= score.points4 %>
  </p>

  <% end %>
